@media only screen and (max-width: 768px) {
  .CountryList {
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 1024px) {
  .CountryList {
    justify-content: space-around !important;
  }
}
.CountryList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 80px;
}
