.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}
.header h1 {
  font-size: 23px;
  padding: 4px 0;
}
.themes {
  user-select: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.themes span {
  font-size: 19px;
  align-self: center;
  margin-right: 7px;
  padding-top: 6px;
}
.themes p {
  font-size: 15px;
}
.darkMode {
  color: rgb(215, 215, 215);
  box-shadow: 0 1px 8px rgb(12, 12, 12) !important;
  background-color: #262c37;
}
.lightMode {
  color: rgb(37, 37, 37);
  background-color: #fff;
  box-shadow: 0 1px 4px rgb(142, 142, 142);
}
