@media only screen and (max-width: 1024px) {
  .Country {
    width: 35% !important;
    margin: 0px 50px;
  }
}
@media only screen and (max-width: 768px) {
  .Country {
    width: 70% !important;
    padding-bottom: 10px;
  }
  .Country_flag img {
    height: auto !important;
  }
}

a {
  text-decoration: none;
  color: rgb(37, 37, 37);
}
.Country {
  display: flex;
  flex-direction: column;
  width: 20%;
  background-color: #fefefe;
  margin: 0px 0.5px;
  margin-bottom: 70px;
  border-radius: 4px;
  box-shadow: 0 0px 10px rgb(143, 142, 142);
}
.Country h4 {
  font-weight: bolder;
}
.CountryDetail {
  padding: 20px 15px;
}
.CountryDetail h4 {
  margin-bottom: 15px;
  font-size: 18px;
}
.Country_info p {
  font-weight: 900;
  font-size: 14px;
}
.Country_info {
  display: flex;
  justify-content: flex-start;
  margin: 3px 0;
  align-items: center;
}
.Country_info p {
  margin-right: 7px;
}
.Country_info span {
  font-size: 12px;
  font-weight: 800;
}

.Country_flag img {
  width: 100%;
  height: 175px;
  border-radius: 5px 5px 0 0;
}
.mahsaAmini {
  color: red;
}
.darkMode {
  box-shadow: 0 2px 6px rgb(7, 7, 7) !important;
  background-color: #2b323e;
}
.lightMode {
  background-color: #fff;
  box-shadow: 0 0px 7px rgb(142, 142, 142);
}
.lightColor {
  color: rgb(245, 245, 245);
}
.darkColor {
  color: rgb(37, 37, 37);
}
.lightSpan {
  color: rgb(120, 120, 120);
}
.darkSpan {
  color: rgb(175, 175, 175);
}
