/* custom font */
@font-face {
  font-family: countryFont;
  src: url("./fonts/NunitoSans-Black.ttf");
}
/* reset css */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  border: 0;
}
a {
  text-decoration: none;
  color: none;
}
body {
  font-family: countryFont;
  box-sizing: border-box;
  margin: 0;
}
.lightBody {
  background-color: hsl(0, 0%, 98%);
}
.darkBody {
  background-color: #19202b;
}
.App {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}
